body {
   font-family: Arial, sans-serif;
   font-size: 100%;
   background-color: #F5F5F5;
   margin: 0;
   padding: 0;
}

header {
   background-color: white;
   padding: 1em 2em;
   border-bottom: 1px solid #E0E0E0;
}

header h1 {
   font-size: 1.5rem;
   font-weight: bold;
   color: #333;
   margin: 0;
}

main {
   padding: 2em;
}

main h2 {
   font-size: 2rem;
   color: #333;
   margin: 0;
}